<h1 class="mt-2 bg-white shadow py-2 text-center card">Toys items</h1>
<div class="card">
    <div class="row">
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\teddybear1.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Teddy Bear</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1600/- <span>2100/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\barbie1.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Barbie Dolls</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1200/- <span>1600/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\elephant.jpeg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Soft Elephant</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1500/- <span>2000/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\horserider1.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Horse Rider</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">4500/- <span>5300/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>