<div class="card shadow">
    <h1 class="text-center py-3">All Products By Catagories</h1>
</div> <br>
<div class="card">
    <section>
        <h2 class="ms-2 mt-2"> Electronics items</h2>
        <div class="row">
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\watch1.png" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">A One Watch</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1000/- <span>1400/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\television.avif" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Television</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">10000/- <span>14000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\speaker.jpg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Speaker</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">5000/- <span>5400/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\laptop.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Laptop</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">20000/- <span>24000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\mobile1.png" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Smart Phones</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">14000/- <span>18000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\headphones.jpg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Wirleless Headphones</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1500/- <span>2000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\earpods.jpg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Wireless Earpods</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">2000/- <span>2500/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\powerbank.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Powerbank</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1600/- <span>2000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\charger.jpeg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Mobile Chargers</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">600/- <span>1000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\camera1.jpg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Professional Cameras</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">150000/- <span>200000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\mic.jpg" alt="" class="shadow">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Wireless Mic</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">6500/- <span>7200/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\harddisk.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Portable SSD Hard Disk(2TB)</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">10000/- <span>12000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <h2 class="ms-2 mt-2">Fashion items</h2>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\tshirt.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold"> Branded T-Shirts</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1000/- <span>1400/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\Formal-Shirts1" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Branded Shirts</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1400/- <span>1800/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\shoe1.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Branded Shoes</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1500/- <span>2000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\Shoes2.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Formal Shoes</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1900/- <span>2400/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <h2 class="ms-2 mt-2">Toys items</h2>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\teddybear1.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Teddy Bear</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1600/- <span>2100/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\barbie1.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Barbie Dolls</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1200/- <span>1600/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\elephant.jpeg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Soft Elephant</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">1500/- <span>2000/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col" id="box">
                <div class="img">
                    <img src="../assets\images\horserider1.jpg" class="shadow" alt="">
                </div>
                <div class="info">
                    <h3 class="title fw-bold">Horse Rider</h3>
                    <div class="sub-info d-flex align-items-center justify-content-between">
                        <div class="price">4500/- <span>5300/-</span></div>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </div>
                    </div>
                </div>
                <div class="overlay">
                    <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                    <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
</div>