<h1 class="mt-2 text-center bg-white shadow py-2 card ">Fashion items</h1>
<div class="card">
    <div class="row">
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\tshirt.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold"> Branded T-Shirts</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1000/- <span>1400/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\Formal-Shirts1" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Branded Shirts</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1400/- <span>1800/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\shoe1.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Branded Shoes</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1500/- <span>2000/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\Shoes2.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Formal Shoes</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1900/- <span>2400/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\kurtas.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold"> Branded Kurtis</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1000/- <span>1400/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets/images/sarees3.jpeg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Branded Sarees</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">2200/- <span>3800/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\shoe1.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Branded Shoes</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1500/- <span>2000/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col" id="box">
            <div class="img">
                <img src="../assets\images\Shoes2.jpg" class="shadow" alt="">
            </div>
            <div class="info">
                <h3 class="title fw-bold">Formal Shoes</h3>
                <div class="sub-info d-flex align-items-center justify-content-between">
                    <div class="price">1900/- <span>2400/-</span></div>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </div>
                </div>
            </div>
            <div class="overlay">
                <i style="--i:1;" class="fa-solid fa-cart-shopping" aria-hidden="true"></i>
                <i style="--i:2;" class="fa-solid fa-heart" aria-hidden="true"></i>
                <i style="--i:3;" class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>